{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="jumbotron">
	<h1 class="text-center">{{ _('Dados Livres') }}</h1>
	<h4 class="text-center">{{ _('Dados Livres é uma plataforma livre
		que permite a catalogação de fontes de dados abertos e aplicações
		que fazem uso dessas informações por meio de colaboração coletiva.') }}</h4>
</div>
<div class="row">
	<h2 class="text-center">{{_('Encontre as principais categorias de fontes de dados abertos')}}</h2><br>
	<div class="col-sm-4 col-md-4">
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Covid19_Source') }}" id="category-link">{{_('Corona Vírus')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Health_Source') }}" id="category-link">{{_('Saúde')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Education_Source') }}" id="category-link">{{_('Educação')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Culture_Source') }}" id="category-link">{{_('Cultura')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.PublicSpending_Source') }}" id="category-link">{{_('Gastos Públicos')}}</a></h4>
	</div>
	<div class="col-sm-4 col-md-4">
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.MovieTheater_Source') }}" id="category-link">{{_('Cinema')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Music_Source') }}" id="category-link">{{_('Música')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Technology_Source') }}" id="category-link">{{_('Tecnologia')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Geography_Source') }}" id="category-link">{{_('Geografia')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Recreation_Source') }}" id="category-link">{{_('Esporte e Lazer')}}</a></h4>
	</div>
	<div class="col-sm-4 col-md-4">
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Science_Source') }}" id="category-link">{{_('Ciência')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.PublicSecurity_Source') }}" id="category-link">{{_('Segurança Pública')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Environment_Source') }}" id="category-link">{{_('Meio Ambiente')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Finances_Source') }}" id="category-link">{{_('Finanças')}}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Climate_Source') }}" id="category-link">{{_('Clima')}}</a></h4>
	</div>
</div><br>
<div class="row">
	<h2 class="text-center">{{_('Últimas fontes registradas recentemente')}}</h2><br>
	<div class="col-sm-3 col-md-4"></div>
	<div class="col-sm-6 col-md-6">
		{% for source in sources %}
			<h4><a href="{{ url_for('main.source_profile', title=source.title) }}" id="color-red">
			{{ source.title }}</a></h4><p>{{_('Categoria')}}: {{ source.category }}</p><br>
		{% endfor%}
	</div>
	<div class="col-sm-3 col-md-4"></div>
</div>
<div class="row">
	<h2 class="text-center">{{_('Últimas aplicações registradas recentemente')}}</h2><br>
	<div class="col-sm-3 col-md-4"></div>
	<div class="col-sm-6 col-md-6">
		{% for software in softwares %}
			<h4><a href="{{ url_for('main.software_profile', title=software.title) }}" id="color-red">
			{{ software.title }}</a></h4><p>{{_('Categoria')}}: {{ software.category }}</p><br>
		{% endfor%}
	</div>
	<div class="col-sm-3 col-md-4"></div>
</div>
{% endblock %}
