{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1 class="text-center">{{_('Registrar nova aplicação')}}</h1><br><br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          {{ wtf.quick_form(form) }}
      </div>
      <div class="col-md-3"></div>
    </div><br><br>
{% endblock %}
